## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,rikitea,PF,2022-06-02 21:59:15,-23.1203,-134.9692,77.29,79,76,16.91,broken clouds,0.0,0
1,1,celestun,MX,2022-06-02 21:59:15,20.8667,-90.4000,81.30,74,100,17.85,overcast clouds,0.0,0
2,2,ushuaia,AR,2022-06-02 21:56:23,-54.8000,-68.3000,33.46,69,0,2.30,clear sky,0.0,0
3,3,butaritari,KI,2022-06-02 21:59:16,3.0707,172.7902,81.01,67,23,3.96,few clouds,0.0,0
4,4,bethel,US,2022-06-02 21:55:12,41.3712,-73.4140,70.77,91,100,5.75,overcast clouds,0.0,0

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))

max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 88

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,rikitea,PF,2022-06-02 21:59:15,-23.1203,-134.9692,77.29,79,76,16.91,broken clouds,0.0,0
1,1,celestun,MX,2022-06-02 21:59:15,20.8667,-90.4000,81.30,74,100,17.85,overcast clouds,0.0,0
3,3,butaritari,KI,2022-06-02 21:59:16,3.0707,172.7902,81.01,67,23,3.96,few clouds,0.0,0
6,6,tahta,EG,2022-06-02 21:59:17,26.7693,31.5021,82.38,25,0,4.36,clear sky,0.0,0
9,9,puerto ayora,EC,2022-06-02 21:59:18,-0.7393,-90.3518,78.76,90,96,4.00,overcast clouds,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,682,jaisalmer,IN,2022-06-02 22:03:33,26.9147,70.9181,85.30,38,0,17.25,clear sky,0.0,0
684,684,ishigaki,JP,2022-06-02 22:03:34,24.3448,124.1572,81.86,86,99,12.53,overcast clouds,0.0,0
685,685,buala,SB,2022-06-02 22:03:34,-8.1450,159.5921,82.15,78,90,7.96,light rain,0.0,0
688,688,pierre,US,2022-06-02 22:03:35,44.3683,-100.3510,78.06,26,20,23.02,few clouds,0.0,0
699,699,salinopolis,BR,2022-06-02 22:03:39,-0.6136,-47.3561,79.39,80,85,8.16,overcast clouds,0.0,0

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                     0
City                        0
Country                     0
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,rikitea,PF,2022-06-02 21:59:15,-23.1203,-134.9692,77.29,79,76,16.91,broken clouds,0.0,0
1,1,celestun,MX,2022-06-02 21:59:15,20.8667,-90.4000,81.30,74,100,17.85,overcast clouds,0.0,0
3,3,butaritari,KI,2022-06-02 21:59:16,3.0707,172.7902,81.01,67,23,3.96,few clouds,0.0,0
6,6,tahta,EG,2022-06-02 21:59:17,26.7693,31.5021,82.38,25,0,4.36,clear sky,0.0,0
9,9,puerto ayora,EC,2022-06-02 21:59:18,-0.7393,-90.3518,78.76,90,96,4.00,overcast clouds,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,682,jaisalmer,IN,2022-06-02 22:03:33,26.9147,70.9181,85.30,38,0,17.25,clear sky,0.0,0
684,684,ishigaki,JP,2022-06-02 22:03:34,24.3448,124.1572,81.86,86,99,12.53,overcast clouds,0.0,0
685,685,buala,SB,2022-06-02 22:03:34,-8.1450,159.5921,82.15,78,90,7.96,light rain,0.0,0
688,688,pierre,US,2022-06-02 22:03:35,44.3683,-100.3510,78.06,26,20,23.02,few clouds,0.0,0
699,699,salinopolis,BR,2022-06-02 22:03:39,-0.6136,-47.3561,79.39,80,85,8.16,overcast clouds,0.0,0

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,77.29,broken clouds,-23.1203,-134.9692,
1,celestun,MX,81.30,overcast clouds,20.8667,-90.4000,
3,butaritari,KI,81.01,few clouds,3.0707,172.7902,
6,tahta,EG,82.38,clear sky,26.7693,31.5021,
9,puerto ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
11,moses lake,US,78.89,overcast clouds,47.1301,-119.2781,
15,albany,US,76.64,overcast clouds,42.6001,-73.9662,
23,bambanglipuro,ID,76.59,scattered clouds,-7.9500,110.2833,
28,vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
36,sao filipe,CV,77.74,scattered clouds,14.8961,-24.4956,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,77.29,broken clouds,-23.1203,-134.9692,People ThankYou
1,celestun,MX,81.30,overcast clouds,20.8667,-90.4000,Posada Lilia
3,butaritari,KI,81.01,few clouds,3.0707,172.7902,Isles Sunset Lodge
6,tahta,EG,82.38,clear sky,26.7693,31.5021,فندق الزيات
9,puerto ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
682,jaisalmer,IN,85.30,clear sky,26.9147,70.9181,Hotel Fifu
684,ishigaki,JP,81.86,overcast clouds,24.3448,124.1572,Hotel Peace Land Ishigakijima
685,buala,SB,82.15,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
688,pierre,US,78.06,few clouds,44.3683,-100.3510,Ramkota Hotel
699,salinopolis,BR,79.39,overcast clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))